<h1>Jogo Space Shooter</h1>

<p>O jogo Space Shooter consiste numa espaçonave que está tentando defender um sistema planetário de um ataque extraterreste.</p>

<p>Você deve utilizar sua nave para atirar nos inimigos e obstáculos, e tentando desviar deles também. Ao destruir cada inimigo ou obstáculo, você ganhará pontos, mas ao ser atingido, você perderá uma vida.</p>

<p>Caso você perca suas 3 vidas, o jogo termina.</p>